body {
  margin: 0;
}

#highlight_and_random {
  background: var(--default-bg);
  display: flex;
  text-align: left;

  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  &>div {
    flex: 1 1 0;
    padding: 32px;

    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

#about_and_dashboard {
  background: var(--default-bg);
  display: flex;
  text-align: left;

  border-top: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  &>div {
    flex: 1 1 0;
    padding: 32px;

    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

#about {
  border-right: var(--default-border-size);
  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);
}

#dashboard {
  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);
}

#random {
  border-right: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);
}

#highlight {
  box-shadow: var(--default-border-shadow);
}

.hover-effect {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#about_and_dashboard ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;
  
  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

#spacer {
  background: var(--navbar-bg);
  height: 88px;
}