#guestbook_rules_and_form {
  background: var(--default-bg);
  display: flex;
  text-align: left;

  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  &>div {
    flex: 1 1 0;
    padding: 32px;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

#guestbook_rules {
  border-right: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  @media (max-width: 1024px) {
    border-bottom: var(--default-border-size);
  }
}

#guestbook_form {
  box-shadow: var(--default-border-shadow);
}

.guestbook_form_body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-top: 15px;

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
  }
}

/* Forces the inputs inside the form to stack vertically on the right */
.guestbook_form_body form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Forces the form fields to fill up the remaining space */
  gap: 10px;
  /* Space between your input fields and textarea */
  height: 200px;
}

/* Fixes size of the text area*/
.guestbook_form_body form textarea {
  resize: none;
  flex-grow: 1;
}

#guestbook_wrapper {
  background: var(--default-bg);
  display: flex;
  text-align: left;

  border-top: var(--default-border-size);
  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  &>div {
    flex: 1 1 0;
    padding: 32px;

    @media (max-width: 550px) {
      padding: 10px 5px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

#guestbook_content {
  margin: 40px;
  background-image: url('./assets/papyrus_page.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Georgia", serif;
  /* Shadow commented out for now. It just looks too blurry. */
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0);
}

#guestbook_content h2 {
  color: #1a1a1a;
  font-family: "Georgia", serif;
}

/* Individual user signature card layout */
.guestbook-entry {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-bottom: 2px solid #1a1a1a6b;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 550px) {
    padding: 0px;
    gap: 0px;
    /*this value has to match image size*/
    grid-template-columns: 75px 1fr;
    gap: 2px;
  }
}

/* The container that holds all signatures */
.signatures-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  min-height: 570px;
}

.signatures-list .guestbook-entry:last-child {
  border-bottom: none;
}


/* Hardcoding the display size of the avatar in the list */
.entry-avatar img {
  width: 100px;
  height: 100px;
  background: #eeeeee00;

  @media (max-width: 550px) {
    width: 75px;
    height: 75px;
  }
}

/* Stacks username headers above the actual message body */
.entry-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  min-width: 0;
}

/* Line up username and date horizontally with space between them */
.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-username {
  font-weight: bold;
  color: #1a1a1a;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
  padding-right: 3px;
}

.entry-date {
  font-size: 0.8rem;
  color: #1a1a1a;
}

.entry-message {
  margin: 0;
  color: #1a1a1a;
  height: 4.2em;
  word-break: break-all;
  display: block;
  overflow: hidden;
  /*webkit is required to make the ... appear*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 3px;
  padding-right: 3px;
}

.book-pages {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
}

/* The Page numbers text */
.page-number {
  font-weight: bold;
  color: #222222;
  font-size: 1.1rem;
  text-shadow: 0px 0px 10px rgba(40, 30, 20, 0.2);
}

/* The Buttons */
.page-btn {
  background-color: transparent;
  color: #111111;
  border: 2px solid #1a1a1a;
  border-radius: 2px;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: none;
  box-shadow: 3px 3px 0px #1a1a1a;
  position: relative;
}

/* Hover effect */
.page-btn:hover {
  background-color: #1a1a1a79;
}

/* Active press effect (Sinking into the page) */
.page-btn:active {
  box-shadow: 0px 0px 0px #1a1a1a;
  top: 3px;
  left: 3px;
}

.page-back-triangle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin: 2px;
  /* height of triangle */
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  /* length of triangle */
  border-right: 10px solid #111111;
}

.page-next-triangle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin: 2px;
  /* height of triangle */
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  /* length of triangle */
  border-left: 10px solid #111111;
}

.hidden {
  display: none !important;
}