#guestbook_rules_and_form {
  background: var(--default-bg);
  display: flex;
  text-align: left;

  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#guestbook_rules {
  border-right: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);
}

#guestbook_form {
  box-shadow: var(--default-border-shadow);
}

.guestbook_form_body {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns top edges together */
  gap: 20px;               /* Clean spacing between canvas and form */
  margin-top: 15px;        /* Pushes it down slightly below the H2 header */
}

/* Forces the inputs inside the form to stack vertically on the right */
.guestbook_form_body form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;            /* Forces the form fields to fill up the remaining space */
  gap: 10px;               /* Space between your input fields and textarea */
  height: 200px;
}

/* Fixes size of the text area*/
.guestbook_form_body form textarea {
  resize: none;
  flex-grow: 1;
}

#guestbook_wrapper {
  background: var(--default-bg);
  display: flex;
  text-align: left;

  border-top: var(--default-border-size);
  border-bottom: var(--default-border-size);
  border-image-source: var(--default-border-image);
  border-image-slice: var(--default-border-slice);
  box-shadow: var(--default-border-shadow);

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#guestbook_content {
  margin: 40px;
  background-image: url('./assets/papyrus_page.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Palatino Linotype", "Palatino", "Georgia", serif;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
}

#guestbook_content h2 {
  color: #1a1a1a;
  font-family: "Palatino Linotype", "Palatino", "Georgia", serif;
}

/* The container that holds all signatures */
.signatures-list {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spacing between each separate user entry card */
  margin-top: 15px;
}

/* Individual user signature card layout */
.guestbook-entry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-bottom: 2px solid #1a1a1a6b; /* Clean subtle separating line between users */
}

/* Hardcoding the display size of the avatar in the list */
.entry-avatar img {
  width: 150px;
  height: 150px;
  background: #eeeeee00;
  border-radius: 4px;
  border: 2px solid #1a1a1a
}

/* Stacks username headers above the actual message body */
.entry-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

/* Line up username and date horizontally with space between them */
.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-username {
  font-weight: bold;
  color: #1a1a1a;
}

.entry-date {
  font-size: 0.8rem;
  color: #1a1a1a;
}

.entry-message {
  margin: 0;
  color: #1a1a1a;
}